body {
  font-family: "Roboto";
  color: #2e2f42;
  background: #ffffff;
}
ul,
ol{
  list-style: none;
}

.button {
  font-style: normal;
  font-weight: 500;
  font-size: 16;
  line-height: 24;
  color: #4d5ae5;
}

.h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20;
  line-height: 24;
  color: #2e2f42;
}

.p {
  font-style: normal;
  font-weight: 400;
  font-size: 16;
  line-height: 24;
  color: #434455;
}
